<h2>Welcome to BrewCrew</h2>
<h4>Enter a city and hit enter!</h4>
<form action="/brewery/search" method="GET">
    <label id="search">Search your city here</label>
    <input type="text" id="search" name="by_city">
</form>
