<ul class="brewList">
  <% breweries.forEach(function(brewery) { %>
     <li class="foundBrew">
       <p>
          <%= brewery.name %>
          <%= brewery.address %>
          <%= brewery.city %>
          <%= brewery.postalCode %>
       </p>
     </li>
   <% }); %>
   </ul>

 